body {
  background-color: #000000;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
}

.content {
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0 2rem;
}

.content_item h1 {
  font-size: 2rem;
}

.content_item img {
  width: 75%;
  border-radius: 15px;
  max-width: 250px;
  max-height: 250px;
  margin-top: 1rem;
}

.content_item:nth-child(even) img {
  order: 2;
}

.info {
  margin: 0 12rem;
}

.info h1 {
  margin: 12px;
}

.info p {
  margin: 1px;
  color: #fff;
  font-size: 1rem;
}
