.con {
  text-align: center;
  color: #fff;
}


.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.box-content h1 {
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
